<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>currency_rate</name>
    <displayName><![CDATA[Currency Rate]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays current and historical NBP exchange rates. Shows a 30-day history page and per-product price conversions on product cards.]]></description>
    <author><![CDATA[Soft-Craft]]></author>
    <tab>pricing_promotion</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
